<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Points Balance</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3 class="title">Points Balance</h3>
    <div class="box">
        <form method="POST" action="/points_balance/">
            <button class="btn btn-primary" type="submit">See All User Points</button>
        </form>
    </div>
</div>
</body>

</html>