<h1 id="project-title">Coding Exercise: README</h1>
<p>
    A web service that accepts HTTP requests and
    returns responses based on the conditions outlined in the next
</p>
<h2 id="description">Description</h2>
<p>
    Our users have points in their accounts. Users only see a single balance in their accounts. But for reporting
    purposes we actually track their
    points per payer/partner. In our system, each transaction record contains: payer (string), points (integer),
    timestamp (date).
</p>
<h2 id="getting-started">Getting Started</h2>
<h3 id="dependencies">Dependencies</h3>
<ul>
    <li> click 8.0.1</li>
    <li> colorama 0.4.4</li>
    <li> DateTime 4.3</li>
    <li> Flask 2.0.1</li>
    <li> itsdangerous 2.0.1</li>
    <li> Jinja2 3.0.1</li>
    <li> MarkupSafe 2.0.1</li>
    <li> pip 21.2.4</li>
    <li> pytz 2021.1</li>
    <li> setuptools 57.4.0</li>
    <li> Werkzeug 2.0.1</li>
    <li> zope.interface 5.4.0</li>
</ul>

<h3 id="executing-program">Executing program</h3>
<ul>
    <li>How to run the program</li>
    <li><p>Step-by-step bullets</p>
        <ul>
            <li> If you're running this through an IDE </li>
            <li> Go to the Fetch Directory</li>
            <li> Right click on the app.py and run Flask(app.py)</li>
            <li> To access the Add Transactions Route go to http://localhost:5000/add_transaction and enter form information</li>
            <li> To add more transactions use the back button to enter more information into the form </li>
            <li> To access the Spend Points Route go to http://localhost:5000/spend_points and enter form information</li>
            <li> To spend more points use the back button to access the form </li>
            <li> To access the Point Balances Route go to http://localhost:5000/points_balance and enter form information</li>
            <li> The Point Balances Route above will display all player point balances</li>
        </ul>
    </li>
</ul>
<h2 id="authors">Author</h2>
<p>
    <span class="citation">@Isaias_Villalobos</span>
</p>
</ul>
